.CMLightboxGallery_container { margin-top: 0px; margin-bottom: 20px; }
.CMLightboxGallery_empty { height: 33px; padding: 10px; text-align: center; font-size: 20px; border: solid 1px #ccc; background-color: #f0f0f0; }

.CMLightboxGallery_gridlink { font-size: 0px; line-height: 1em; display: block; }

.CMLightboxGallery_beforebutton { background: url('scrollleft.png') no-repeat; cursor: pointer; float: left; }
.CMLightboxGallery_afterbutton { background: url('scrollright.png')  no-repeat;  cursor: pointer; float: left; }
.CMLightboxGallery_beforedisabled { cursor: default; }
.CMLightboxGallery_afterdisabled { cursor: default; }

.CMLightboxGallery_panel a { text-decoration: none; border: none; font-size: 0px; line-height: 1em; }
.CMLightboxGallery_window { overflow: hidden; position: relative; margin: 0px 0px; float: left; }
.CMLightboxGallery_belt { position: relative; left: 0px; }
.CMLightboxGallery_panel { padding: 0; float: left; text-decoration: none; font-size: 0px; line-height: 1em; }

.CMLightboxGallery_griditem { display: inline-block; margin: 5px; }
.CMLightboxGallery_gridimage { width: 50px; height: 33px; }
.CMLightboxGallery_slider { height: 33px; width: 300px; }
.CMLightboxGallery_window { height: 33px; width: 240px; }
.CMLightboxGallery_belt { height: 33px;  }
.CMLightboxGallery_panel { width: 60px; height: 33px; }
.CMLightboxGallery_panel img { margin: 0px 5px 0px 5px; width: 50px; height: 33px; }
.CMLightboxGallery_beforebutton { width: 30px; height: 33px; background-position: 5px -10px; }
.CMLightboxGallery_afterbutton { width: 30px; height: 33px; background-position: 5px -10px; }
.CMLightboxGallery_beforeclicked, .CMLightboxGallery_beforebutton:hover { background-position: 5px -63px; }
.CMLightboxGallery_afterclicked, .CMLightboxGallery_afterbutton:hover { background-position: 5px -63px; }
.CMLightboxGallery_beforedisabled, .CMLightboxGallery_beforedisabled:hover { background-position: 5px -116px; }
.CMLightboxGallery_afterdisabled, .CMLightboxGallery_afterdisabled:hover { background-position: 5px -116px; }

.CMLightboxGallery_column1 .CMLightboxGallery_gridcontainer { padding: 0px 10px; }
.CMLightboxGallery_column1 .CMLightboxGallery_griditem { display: inline-block; margin: 5px 7px; }
.CMLightboxGallery_column1 .CMLightboxGallery_gridimage { width: 80px; height: 53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_slider { height: 53px; width: 960px; }
.CMLightboxGallery_column1 .CMLightboxGallery_window { height: 53px; width: 900px; }
.CMLightboxGallery_column1 .CMLightboxGallery_belt { height: 53px;  }
.CMLightboxGallery_column1 .CMLightboxGallery_panel { width: 90px; height: 53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_panel img { margin: 0px 5px 0px 5px; width: 80px; height: 53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforebutton { width: 30px; height: 53px; background-position: 5px 0px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterbutton { width: 30px; height: 53px; background-position: 5px 0px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column1 .CMLightboxGallery_beforebutton:hover { background-position: 5px -53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column1 .CMLightboxGallery_afterbutton:hover { background-position: 5px -53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column1 .CMLightboxGallery_beforedisabled:hover { background-position: 5px -106px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column1 .CMLightboxGallery_afterdisabled:hover { background-position: 5px -106px; }

.CMLightboxGallery_column2 .CMLightboxGallery_griditem { display: inline-block; margin: 5px; }
.CMLightboxGallery_column2 .CMLightboxGallery_gridimage { width: 80px; height: 53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_slider { height: 53px; width: 630px; }
.CMLightboxGallery_column2 .CMLightboxGallery_window { height: 53px; width: 570px; }
.CMLightboxGallery_column2 .CMLightboxGallery_belt { height: 53px;  }
.CMLightboxGallery_column2 .CMLightboxGallery_panel { width: 95px; height: 53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_panel img { margin: 0px 7px 0px 8px; width: 80px; height: 53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforebutton { width: 30px; height: 53px; background-position: 5px 0px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterbutton { width: 30px; height: 53px; background-position: 5px 0px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column2 .CMLightboxGallery_beforebutton:hover { background-position: 5px -53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column2 .CMLightboxGallery_afterbutton:hover { background-position: 5px -53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column2 .CMLightboxGallery_beforedisabled:hover { background-position: 5px -106px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column2 .CMLightboxGallery_afterdisabled:hover { background-position: 5px -106px; }

.CMLightboxGallery_column6 .CMLightboxGallery_gridcontainer { padding: 0px 2px; }
.CMLightboxGallery_column6 .CMLightboxGallery_griditem { display: inline-block; margin: 5px 8px; }
.CMLightboxGallery_column6 .CMLightboxGallery_gridimage { width: 75px; height: 50px; }
.CMLightboxGallery_column6 .CMLightboxGallery_slider { height: 53px; width: 460px; }
.CMLightboxGallery_column6 .CMLightboxGallery_window { height: 53px; width: 400px; }
.CMLightboxGallery_column6 .CMLightboxGallery_belt { height: 50px;  }
.CMLightboxGallery_column6 .CMLightboxGallery_panel { width: 80px; height: 50px; }
.CMLightboxGallery_column6 .CMLightboxGallery_panel img { margin: 0px 2px 0px 3px; width: 75px; height: 50px; }
.CMLightboxGallery_column6 .CMLightboxGallery_beforebutton { width: 30px; height: 50px; background-position: 5px -3px; }
.CMLightboxGallery_column6 .CMLightboxGallery_afterbutton { width: 30px; height: 50px; background-position: 5px -3px; }
.CMLightboxGallery_column6 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column6 .CMLightboxGallery_beforebutton:hover { background-position: 5px -56px; }
.CMLightboxGallery_column6 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column6 .CMLightboxGallery_afterbutton:hover { background-position: 5px -56px; }
.CMLightboxGallery_column6 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column6 .CMLightboxGallery_beforedisabled:hover { background-position: 5px -109px; }
.CMLightboxGallery_column6 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column6 .CMLightboxGallery_afterdisabled:hover { background-position: 5px -109px; }

.CMLightboxGallery_column7 .CMLightboxGallery_gridcontainer { padding: 0px 2px; }
.CMLightboxGallery_column7 .CMLightboxGallery_griditem { display: inline-block; margin: 5px 8px; }
.CMLightboxGallery_column7 .CMLightboxGallery_gridimage { width: 75px; height: 50px; }
.CMLightboxGallery_column7 .CMLightboxGallery_slider { height: 53px; width: 460px; }
.CMLightboxGallery_column7 .CMLightboxGallery_window { height: 53px; width: 400px; }
.CMLightboxGallery_column7 .CMLightboxGallery_belt { height: 50px;  }
.CMLightboxGallery_column7 .CMLightboxGallery_panel { width: 80px; height: 50px; }
.CMLightboxGallery_column7 .CMLightboxGallery_panel img { margin: 0px 2px 0px 3px; width: 75px; height: 50px; }
.CMLightboxGallery_column7 .CMLightboxGallery_beforebutton { width: 30px; height: 50px; background-position: 5px -3px; }
.CMLightboxGallery_column7 .CMLightboxGallery_afterbutton { width: 30px; height: 50px; background-position: 5px -3px; }
.CMLightboxGallery_column7 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column7 .CMLightboxGallery_beforebutton:hover { background-position: 5px -56px; }
.CMLightboxGallery_column7 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column7 .CMLightboxGallery_afterbutton:hover { background-position: 5px -56px; }
.CMLightboxGallery_column7 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column7 .CMLightboxGallery_beforedisabled:hover { background-position: 5px -109px; }
.CMLightboxGallery_column7 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column7 .CMLightboxGallery_afterdisabled:hover { background-position: 5px -109px; }