.CMListItem_container { margin-bottom : 20px; }
.CMListItem_heading { margin: 0 0 5px 0; }
.CMListItem_leftimage { padding: 0 20px 0 0; }
.CMListItem_content { margin : 4px 0 4px 0; }
.CMListItem_link { margin : 4px 0 4px 0; }