.CMLightboxGallery_container { margin-top: 0px; margin-bottom: 20px; }
.CMLightboxGallery_empty { height: 33px; padding: 10px; text-align: center; font-size: 20px; border: solid 1px #ccc; background-color: #f0f0f0; }

.CMLightboxGallery_gridlink { font-size: 0px; line-height: 1em; display: block; }

.CMLightboxGallery_beforebutton { background: url('scrollleft.png') no-repeat; cursor: pointer; float: left; }
.CMLightboxGallery_afterbutton { background: url('scrollright.png')  no-repeat;  cursor: pointer; float: left; }
.CMLightboxGallery_beforedisabled { cursor: default; }
.CMLightboxGallery_afterdisabled { cursor: default; }

.CMLightboxGallery_panel a { text-decoration: none; border: none; font-size: 0px; line-height: 1em; }
.CMLightboxGallery_window { overflow: hidden; position: relative; margin: 0px 0px; float: left; }
.CMLightboxGallery_belt { position: relative; left: 0px; }
.CMLightboxGallery_panel { padding: 0; float: left; text-decoration: none; font-size: 0px; line-height: 1em; }

.CMLightboxGallery_griditem { display: inline-block; margin: 5px 3px 5px 2px; }
.CMLightboxGallery_slider { height: 33px; width: 220px; }
.CMLightboxGallery_window { height: 33px; width: 180px; }
.CMLightboxGallery_belt { height: 33px;  }
.CMLightboxGallery_panel { width: 60px; height: 33px; }
.CMLightboxGallery_panel img { margin: 0px 5px 0px 5px; width: 50px; height: 33px; }
.CMLightboxGallery_beforebutton { width: 20px; height: 33px; background-position: 50% -33px; }
.CMLightboxGallery_afterbutton { width: 20px; height: 33px; background-position: 50% -33px; }
.CMLightboxGallery_beforeclicked, .CMLightboxGallery_column2 .CMLightboxGallery_beforebutton:hover { background-position: 50% -233px; }
.CMLightboxGallery_afterclicked, .CMLightboxGallery_column2 .CMLightboxGallery_afterbutton:hover { background-position: 50% -233px; }
.CMLightboxGallery_beforedisabled, .CMLightboxGallery_column2 .CMLightboxGallery_beforedisabled:hover { background-position: 50% -133px; }
.CMLightboxGallery_afterdisabled, .CMLightboxGallery_column2 .CMLightboxGallery_afterdisabled:hover { background-position: 50% -133px; }

.CMLightboxGallery_column1 .CMLightboxGallery_gridcontainer { padding: 0px 5px; }
.CMLightboxGallery_column1 .CMLightboxGallery_griditem { display: inline-block; margin: 5px 5px 5px 5px; }
.CMLightboxGallery_column1 .CMLightboxGallery_slider { height: 53px; width: 720px; }
.CMLightboxGallery_column1 .CMLightboxGallery_window { height: 53px; width: 688px; }
.CMLightboxGallery_column1 .CMLightboxGallery_belt { height: 53px;  }
.CMLightboxGallery_column1 .CMLightboxGallery_panel { width: 87px; height: 53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_panel img { margin: 0px 4px 0px 3px; width: 80px; height: 53px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforebutton { width: 16px; height: 53px; background-position: 50% -23px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterbutton { width: 16px; height: 53px; background-position: 50% -23px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column3 .CMLightboxGallery_beforebutton:hover { background-position: 50% -223px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column3 .CMLightboxGallery_afterbutton:hover { background-position: 50% -223px; }
.CMLightboxGallery_column1 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column3 .CMLightboxGallery_beforedisabled:hover { background-position: 50% -123px; }
.CMLightboxGallery_column1 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column3 .CMLightboxGallery_afterdisabled:hover { background-position: 50% -123px; }

.CMLightboxGallery_column2 .CMLightboxGallery_griditem { display: inline-block; margin: 7px; }
.CMLightboxGallery_column2 .CMLightboxGallery_slider { height: 53px; width: 470px; }
.CMLightboxGallery_column2 .CMLightboxGallery_window { height: 53px; width: 440px; }
.CMLightboxGallery_column2 .CMLightboxGallery_belt { height: 53px;  }
.CMLightboxGallery_column2 .CMLightboxGallery_panel { width: 88px; height: 53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_panel img { margin: 0px 4px 0px 4px; width: 80px; height: 53px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforebutton { width: 15px; height: 53px; background-position: 50% -23px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterbutton { width: 15px; height: 53px; background-position: 50% -23px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforeclicked, .CMLightboxGallery_column1 .CMLightboxGallery_beforebutton:hover { background-position: 50% -223px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterclicked, .CMLightboxGallery_column1 .CMLightboxGallery_afterbutton:hover { background-position: 50% -223px; }
.CMLightboxGallery_column2 .CMLightboxGallery_beforedisabled, .CMLightboxGallery_column1 .CMLightboxGallery_beforedisabled:hover { background-position: 50% -123px; }
.CMLightboxGallery_column2 .CMLightboxGallery_afterdisabled, .CMLightboxGallery_column1 .CMLightboxGallery_afterdisabled:hover { background-position: 50% -123px; }